{% extends 'base.html' %}
{% block title%} | Dashboard{% endblock%}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Orders</span>
                            <span class="info-box-number">
                                {{new_orders}}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Customers</span>
                            <span class="info-box-number">{{customers}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Sales</span>
                            <span class="info-box-number">{{orders}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Products</span>
                            <span class="info-box-number">{{products}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->


            </div>
            <!-- /.row -->

            <!-- / yearly recap -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Yearly Recap Report</h5>

                            <div class="card-tools">

                            </div>
                        </div>

                        <!-- ./card-body -->
                        <div class="card-footer">
                            <div class="row">

                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">PKR {{product_cost}}</h5>
                                        <span class="description-text">TOTAL COST</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">PKR {{profit}}</h5>
                                        <span class="description-text">TOTAL PROFIT</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">PKR {{revenue}}</h5>
                                        <span class="description-text">TOTAL REVENUE</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <h5 class="description-header">PKR {{balance}}</h5>
                                        <span class="description-text">TOTAL Balance</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

            <!-- Main row -->
            <div class="row">


                <div class="col-md-6">
                    <!-- PRODUCT LIST -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Total Booking without package</h3>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for i in total_booking_without_pack%}
                                        <tr>
                                            <td>{{i.count}}</td>
                                            <td>{{i.category.name}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                    <!-- PRODUCT LIST -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Total Products</h3>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for i in total_stock%}
                                        <tr>
                                            <td>{{i.count}}</td>
                                            <td>{{i.category.name}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->

                <div class="col-md-6">
                    <!-- PRODUCT LIST -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Total booking</h3>

                            <div class="card-tools">

                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Package Name</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for i in total_booking%}
                                        <tr>
                                            <td>{{i.count}}</td>
                                            <td>{{i.package.name}}</td>
                                            <td>{{i.package.category}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- Left col -->
                <div class="col">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Expenses (PKR {{expense}})</h3>

                            <div class="card-tools">
                                <a class="btn btn-success" href="{% url 'create_expense' %}">
                                    Add New
                                    <i class="fas fa-user-plus fa-fw"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive table-hover text-center">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Modify</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for expense in expenses%}
                                        <tr>
                                            <td>{{expense.date_created}}</td>
                                            <td>{{expense.name}}</td>
                                            <td>{{expense.amount}}</td>
                                            <td>
                                                <a href="{% url 'update_expense' expense.id %}"
                                                    class="btn text-secondary px-0">
                                                    <i class="far fa-edit fa"></i>
                                                </a>
                                                /
                                                <a href="{% url 'delete_expense' expense.id %}"
                                                    class="btn text-secondary px-0">
                                                    <i class="far fa-trash-alt text-danger fa"></i>
                                                </a></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if expenses.has_other_pages %}
                                    <ul class="pagination">
                                        {% if expenses.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{expenses.previous_page_number}}&sellectedYear={{sellectedYear}}"
                                                class="page-link">&laquo;</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                        {% endif %}
                                        {% for i in expenses.paginator.page_range %}
                                        {% if expenses.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link">{{i}}</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item">
                                            <a href="?page={{i}}&sellectedYear={{sellectedYear}}"
                                                class="page-link">{{i}}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if expenses.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{expenses.next_page_number}}&sellectedYear={{sellectedYear}}"
                                                class="page-link">&raquo;</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&raquo;</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </div>

                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}